<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!DOCTYPE html>
<html>
  <body>
    <div id="header">
        <app-community-header [active_tab]="'disabled'"></app-community-header>
    </div>

    <div class="lateral_background">
      <div></div>

      <div>
        <div>
          <app-community-post-information [post_title]=post_title! [coins]=0 [replies]=0 [date]=getCurrentDayDate() [name]="getLoggedUserName()"></app-community-post-information>
        </div>

        <div>
          <app-community-input (createPostEvent)="createPost($event)"></app-community-input>
        </div>
      </div>

      <div></div>
    </div>

  </body>
</html>