<body>
    
    <div class="border-around p-0">
        <div class="row p-2">
            <label for="" class="progress-label text-center">Progresso no curso</label>
            <div class="d-flex justify-content-center my-3">
                <div class="progress-container">
                    <div class="progress">
                      <div class="progress-inner">
                        <span class="progress-text">{{ overallProgress }}%</span>
                      </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-2 mb-2">
                <button class="statistics-btn" >Estatísticas</button>
            </div>
        </div>
    </div>

</body>