* {
  margin: 0;
  padding: 0;
}

input {
  padding-left: 0.5rem;
}

.right-bg {
  min-height: calc(100vh);
  background-color: #1f761f;
}

.left-bg {
  min-height: calc(100vh);
  background-color: white;
}

.center {
  display: flex;
  justify-content: center;
}

.right {
  display: flex;
  justify-content: right;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  /* width: 55%; */
  text-align: center;
  margin-bottom: 1.25rem;
}

.xx-large {
  font-size: xx-large;
}

.large {
  font-size: large;
}

.small {
  font-size: small;
}

.loginBtn {
  border: 0px;
  color: white;
  width: 100%;
  background-color: #1f761f;
  border-radius: 1rem;
  margin-top: 0.625rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 4.688rem;
  padding-right: 4.688rem;
}

.connectBtn {
  border: 0px;
  width: 15rem;
  color: rgb(50,50,50);
  background-color: rgb(248, 248, 248);
  border-radius: 1rem;
  margin-top: 0.625rem;
  padding-top: 0.325rem;
  padding-bottom: 0.325rem;
  padding-left: .1rem;
  padding-right: .1rem;
  border: .1rem solid rgb(50, 50, 50);
}

.link {
  color: #1f761f;
  pointer-events: auto !important;
  text-decoration: none;
}

::-webkit-input-placeholder { /* Edge */
  text-indent: 0.625rem;
}

:-ms-input-placeholder { /* Internet Explorer */
  text-indent: 0.625rem;
}

::placeholder {
  text-indent: 0.625rem;
}

.white {
  color: white;
}
