<div class="my-3">
  <div class="row">
    <div class="col-12 field-center">
      <button (click)="checkLogin('google')" class="connectBtn" ><i class="fa fa-google" aria-hidden="true"></i></button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 field-center">
      <button (click)="checkLogin('facebook')" class="connectBtn" ><i class="fa fa-facebook" aria-hidden="true"></i></button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 field-center">
      <button (click)="checkLogin('microsoft')" class="connectBtn" ><i class="fa fa-windows" aria-hidden="true"></i></button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 field-center">
      <button (click)="checkLogin('apple')" class="connectBtn" ><i class="fa fa-apple" aria-hidden="true"></i></button>
    </div>
  </div>
</div>
