
<div class="row">
  <div class="col-12">

    <div class="row mt-3 justify-content-center align-items-center">
        <img src="../../../../../assets/images/finlearnLogo.png" style="height: 80px; width: 200px;">
    </div>

    <div class="row bold mt-4 justify-content-center ft-lg header-bg">Login</div>
    <div class="row mt-4 mx-5 ft-med">
      <p class="text-center">
        Preencha os seus dados de login abaixo para acessar a plataforma.
      </p>
    </div>


    <form name="loginForm" [formGroup]="loginForm!" novalidate>
      <div class="row mt-4">
        <div class="col-12 d-flex justify-content-center">
          <mat-form-field appearance="outline" class="field" >
            <mat-label>Email</mat-label>
            <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" matInput formControlName="username" required>
            <mat-error *ngIf="loginForm?.get('username')?.hasError('required')">
                Email é obrigatório.
            </mat-error>
            <mat-error
                *ngIf="!loginForm?.get('username')?.hasError('required') &&
                        (loginForm?.get('username')?.hasError('email') || loginForm?.get('username')?.hasError('pattern'))">
                Digite um email válido
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex justify-content-center">

          <mat-form-field appearance="outline" class="field">
            <mat-label>Senha</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
            <button type="button" class="ft-x-lg remove-border" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" >
                <i *ngIf="!hide" class='fa fa-eye'></i>
                <i *ngIf="hide" class='fa fa-eye-slash'></i>
            </button>
            <mat-error>
                Senha é obrigatório.
            </mat-error>
          </mat-form-field>

        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex justify-content-center">

          <button
            mat-raised-button
            color="primary"
            class="field"
            aria-label="LOG IN"
            [disabled]="loginForm?.invalid"
            (click)="login()"
            id="login-btn"
          >
            ENTRAR
          </button>

        </div>
      </div>
    </form>

    <div class="row pt-3 ">
      <div class="col-12 d-flex justify-content-center">
        <div class="field">
          <div class="d-flex justify-content-between">
            <!-- <a class="specialist" [routerLink]="'/pages/auth/solicitar-acesso'">Especialista?</a> -->
            <a class="forgot-password clickable">
              Esqueci minha senha
            </a>
            <a class="specialist clickable">Sou um especialista</a>
          </div>
            <!-- <a class="forgot-password" [routerLink]="'/pages/auth/recuperar-senha'"> -->
        </div>
      </div>
    </div>

    <div class="row mt-5 justify-content-center">
      <div class="col-4 d-flex align-items-center justify-content-center">
        <p class="horizontal-line"></p>
      </div>
      <div class="col-1 center">
        <p>OU</p>
      </div>
      <div class="col-4 d-flex align-items-center justify-content-center">
        <p class="horizontal-line"></p>
      </div>
    </div>

    <div class="row mt-3 justify-content-center ft-lg">
      <div class="col-2 red">
        <div class="circle-red center clickable" (click)="outsideLogin('google')">
          <i class="fa fa-google" aria-hidden="true"></i>
        </div>
      </div>
      <div class="col-2 blue">
        <div class="circle-blue center clickable" (click)="outsideLogin('fb')">
          <i class="fa fa-facebook " aria-hidden="true"></i>
        </div>
      </div>
      <div class="col-2 blue">
        <div class="circle-blue center clickable" (click)="outsideLogin('microsoft')">
          <i class="fa fa-windows" aria-hidden="true"></i>
        </div>
      </div>
      <div class="col-2 gray">
        <div class="circle-gray center clickable" (click)="outsideLogin('apple')">
          <i class="fa fa-apple" aria-hidden="true"></i>
        </div>
      </div>
    </div>

  </div>
</div>
