html, body {
  margin: 0;
  padding: 0;
}

.header {
  height: 40vh;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  margin: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.card-image {
  height: 50%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  margin-bottom: 10px;
}

.card-content p {
  color: #888888;
}

#image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h3 {
  cursor: pointer;
  text-align: center;
  color: var(--primary-color);
}

#btn-style {
  background-color: transparent;
  border: 0;
}

#input-style {
  border: 0;
  outline: none;
}
