html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

.header {
  height: 40vh;
}

.card-container {
  margin: 50px;
}

.card {
  margin-top: 20px; 
  margin-bottom: 10px;
  height: 100%; 
  display: flex;
  flex-direction: column;
}


.card-image {
  height: 50%;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card-content {
  padding: 20px;
  overflow: hidden;
}

.card-content h3 {
  margin-bottom: 10px;
}

.card-content p {
  color: #888888;
}

#image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h3 {
  cursor: pointer;
  text-align: center;
  color: var(--primary-color);
}

#btn-style {
  background-color: transparent;
  border: 0;
}

#input-style {
  border: 0;
  outline: none;
}

.description-container {
  max-height: 200px;
  overflow: hidden;
}

.description-text {
  display: -webkit-box;
  -webkit-line-clamp: 6; /* Adjust the number of lines you want to display */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
}

