<body>
    
    <div class="m-0 p-0 p-lg-3" style="max-height: 100vh;">
        <div class="row d-flex justify-content-center align-items-center w-100 m-0 py-3">
            <h4 class="title mb-2"><b>Perguntas Frequentes</b></h4>
            <span class="subtitle">Quem sabe a sua dúvida não está por aqui?</span>
            <span class="subtitle">Consulte o nosso quadro de perguntas frequentes.</span>
        </div>
        <div class="row d-flex justify-content-center align-items-center w-100 m-0 p-0" *ngFor="let frequentQuestion of frequentQuestions; let i = index">
            <app-dropdown-question [frequentQuestion]="frequentQuestion" [color]="(i % 2 == 0) ? '#C9E9D3' : '#F4EDED'"></app-dropdown-question>
        </div>
    </div>
    
</body>

