*{
 margin: 0;
 padding: 0;
}

.config {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3.5rem;
  background-color: #e7fce7;
  border-top: .063rem solid black;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center
}

.separator {
  margin: .6rem .5rem .5rem;
  border: 0;
}

.copy {
  position: fixed;
  bottom: 0;
}

@media screen and (max-width: 480px) {
  .config {
    height: 0;
  }

  .copy {
    position: relative;
    /* height: 0; */
  }
}
