<div class="config">
  <div class="row">
    <div class="col-12-sm center">
      <a href="">
        <i
          (click)="redirect('instagram')"
          class="fa fa-instagram separator"
        ></i>
      </a>
      <a href="">
        <i
          (click)="redirect('twitter')"
          class="fa fa-twitter separator"
        ></i>
      </a>
      <a href="">
        <i
          (click)="redirect('facebook')"
          class="fa fa-facebook separator"
        ></i>
      </a>
      <a href="">
        <i
          (click)="redirect('email')"
          class="fa fa-envelope separator"
        ></i>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="center copy" >
      <p style="font-size: x-small;">Copyright 2023-2023 by Projeto PDSI1 Data. All Rights Reserved.</p>
    </div>
  </div>
</div>
