#comment-input {
  border: 0;
  width: 100%;
  outline: none;
}

#comment-btn {
  background-color: rgba(5, 159, 48, 0.2);
  color: var(--primary-color);
  border: 0;
  border-radius: .2rem;
  padding: .4rem 1rem .4rem 1rem;
}

#icon-style {
  padding-right: 8px;
  font-size: larger;
}
