.bg {
  margin: 0;
  padding: 0;
  min-height: 99vh;
  max-height: 99vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.practice-title{
    font-weight: bolder;
    font-family: 'Montserrat';
}

.practice-content{
    font-family: 'Montserrat';
    font-size: larger;
    text-align: justify;
}

.practice-container {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.simulate-image {

    width: 40vw;
    height: 50vh;

}

.first-content {

    width: 50%;
    display: flex;
    justify-content: end;
    margin: 0;
    padding: 0;

}

.second-content {

    width: 50%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;

}

@media (max-width: 800px) {

    .bg {

        flex-direction: column;
        justify-content: center !important;
        align-items: center;

    }

    .first-content {

        width: 100%;
        justify-content: center;
        align-items: end;
    }
    
    .second-content {

        width: 100%;
        align-items: start;
    }

}

@media (max-width: 690px) {

    .simulate-image {

        width: 70vw;
        height: 40vh;

    }

    .practice-title {

        font-size: 25px;
    }
    
    .practice-content {

        font-size: 15px;
    }

}

