<body>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <form [formGroup]="choosenInvestmentForm" (ngSubmit)="onSubmit()">
    <div class="row practice-type-container m-0 p-0">
      <div class="row options-container gray-square">
        <div class="gray-square option-container" *ngFor="let fieldInvestmentType of fieldInvestmentTypes" [id]="'option-container'+fieldInvestmentType.id" (click)="investmentTypeSelected(fieldInvestmentType.id)" [ngClass]="{'investment-selected': fieldInvestmentType.clicked == true}">
          <div class="row d-flex justify-content-end align-items-center">
            <img [src]="fieldInvestmentType.investmentLogoPath" [alt]="fieldInvestmentType.name" class="option-image">
          </div>
          <div class="row">
            <span class="option-title break-overflow-with-ellipsis"><b>{{ fieldInvestmentType.name }}</b></span>
            <span class="option-rate break-overflow-with-ellipsis">{{ calculateInterestRate(fieldInvestmentType) }}</span>
          </div>
        </div>
      </div>
      <div class="m-0 p-0 d-flex justify-content-between align-items-center" style="max-width: 80%;">
        <button (click)="goTo(0)" class="white-go-back-button"><b>VOLTAR</b></button>
        <button type="submit" class="green-confirm-button" *ngIf="clicked"><b>SALVAR</b></button>
      </div>
    </div>
  </form>
</body>
