

body {

    margin: 0;
    padding: 0;
    height: 99vh;
    font-family: "montserrat";

}

.options-container {

    max-height: 80%;
    width: 80%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: auto;
    margin: 0;

}

.option-container {

    padding: 20px;
    margin: 5px;
    width: 30%;
    min-width: 80px;
    min-height: 150px;

}

.option-container:hover {

    background-color: var(--light-green);
    border: 3px solid black;
    box-shadow: none;
    cursor: pointer;

}

.option-image {

    width: 5vw;

}

.option-title {

    font-size: 18px;
    margin: 5px 0 5px 0;

}

.investment-selected {

    background-color: var(--light-green);
    box-shadow: none;
    border: 1px solid black;

}

@media (max-width: 1300px) {

    .option-image {
    
        width: 7vw;
    
    }

    .option-title {
    
        font-size: 1.1rem;

    }
    
    .option-rate {

        font-size: .9rem;

    }

}

@media (max-width: 1000px) {

    .option-image {
    
        width: 6.5vw;
    
    }

    .option-title {
    
        font-size: .9rem;

    }
    
    .option-rate {

        font-size: .7rem;

    }

    .option-container {
    
        height: 150px;
    
    }

}

@media (max-width: 560px) {


    .options-container {
    
        padding: 15px;

    }

    .option-container {

        padding: 10px;
        margin: 5px;
        width: 45%;
        min-width: auto;
        min-height: auto;

    }

    .option-image {
    
        width: 15vw;
    
    }

    .option-title {

        font-size: 16px;

    }

    .option-rate {

        font-size: 12px;
    
    }
}

@media (max-width: 300px) {

    .option-container {

        width: 95%;
        height: 120px;

    }

}