
<div *ngIf="!register"  class="bg row d-flex justify-content-center align-items-center">
  <div class="col-md-8 p-2 mx-2 white">
    <div class="mt-5 mb-3 center ft-larger">
      <p><b>Aprenda finanças de forma descomplicada</b></p>
    </div>
    <div class="mb-4 center ft-larger" style="text-align: center;">
      Domine as finanças e tome as rédeas do seu futuro com a plataforma "FinLearn"
    </div>
    <div class="center">
      <img src="../../assets/images/login.png" alt="" height="250" loading="lazy">
    </div>
  </div>
</div>

<div *ngIf="register"  class="bg row d-flex justify-content-center align-items-center">
  <div class="col-md-8 p-2 mx-2 white">
    <div class="mt-5 mb-3 center ft-larger">
      <p><b>Pronto para aumentar seu conhecimento em investimento?</b></p>
    </div>
    <div class="mb-4 center ft-larger" style="text-align: center;">
      Multiplique o seu dinheiro de forma consciente.
    </div>
    <div class="center">
      <img src="../../assets/images/register.png" alt="" height="300" loading="lazy">
    </div>
  </div>
</div>
