<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!DOCTYPE html>
<html>
  <body>
    <div>
      <app-community-header [active_tab]="'relevants_tab'"></app-community-header>
    </div>

    <div *ngIf="(loaded$ | async)">
      <div *ngFor="let post of posts;let i = index;">
        <div class="post_entry">
          <img class="user_picture" src="../../../assets/images/community/user_picture.png" alt="user_picture">
          <div>
            <button class="clear-button round-button">{{post.title}}</button>
            <div class="post_details">0 coins · 0 comentários · {{post.date_created}}</div>
          </div>
        </div>
      </div>
    </div>
    <app-loading  *ngIf="!(loaded$ | async)" ></app-loading>
   
  </body>
</html>

