<!DOCTYPE html>
<html>
  <body>
    <div class="conversation-container">
      <div class="row d-flex justify-content-between align-items-center">
        <div class="col">
          <app-btn-plus-input
            [iconClass]="'fa fa-search'"
            [commentary]="'Procure uma conversa...'"
            [value]="'Procurar'"
          ></app-btn-plus-input>
        </div>
        <div class="col">
          <app-btn-plus-input
            [iconClass]="'fa fa-lightbulb-o'"
            [commentary]="'Crie uma conversa!'"
            [value]="'Criar'"
          ></app-btn-plus-input></div>
      </div>
    </div>
    <div class="conversation-container ">
      <p class="ft-larger">Minhas Conversas</p>
    </div>
    <div class="conversation-container">
      <app-my-conversations></app-my-conversations>
    </div>
  </body>

</html>

