html,body{
  padding: 0;
  margin: .8rem;
  font-family: 'Montserrat', sans-serif;
}

.conversation-container {
  margin-top: 3rem;
}

.border-around {
  border: .1rem solid var(--grayish);
  border-radius: .3rem;
}
