*{
  margin: 0;
  padding: 0;
}

 .icon-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.icon-list-end {
  list-style: none;
  display: flex;
  align-items: end;
  justify-content: end;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

.icon-list li {
  margin: 0 1.5rem;
  position: relative; /* add this to make the list items position relative to the header */
}

.icon-list li a {
  color: black;
}

.icon-list li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
  color: var(--classic-color);
  background-color: var(--light-green);
  transition: all 0.3s ease;
}
/*
.icon-list li:hover {
  background-color: var(--medium-green);
  padding: .1rem;
  border-radius: 1rem;
} */

li.active::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -20px;
  right: -20px;
  bottom: -40px;
  border-radius: 10rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: var(--medium-green);
  box-shadow: .3rem .3rem .3rem .3rem var(--shadow);
  z-index: -99999;
}

.icon-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.user-circle {
  height: 50px;
  width: 1px;

  border-radius: 75%;
  /* box-shadow: .3rem .3rem .3rem .3rem var(--shadow); */
  background-color: blue;
}
.dot {
  /* margin-top: 1rem; */
  /* height: 50px;
  width: 50px;
  background-color: #bbb; */
  border-radius: 50%;
  /* display: inline-block; */
}

.logo {
  height: 50px;
  width: 120px;
  margin-left: 1rem;
  margin-top: .5rem;

}
