<header>
  <div class="row">
    <div class="col-md-2 col-sm">

    <div class="logo">
      <img src="../../../../../assets/images/finlearnLogo.png" style="height: 50px; width: 100px;">
    </div>

    </div>
    <div class="col-md-6 col-sm">
      <p class="username">Olá, <b class="user-color">{{user}}</b>!</p>
    </div>
    <div class="col-md-4 col-sm" class="button-container">
      <button type="button" class="login-btn">
        <div class="row">
          <div class="col-4 line">
            <i class="fa fa-user"></i>
          </div>
          <div class="col">
            <p class="user-size-btn">
              <b>{{user}}</b>
            </p>
          </div>
        </div>
      </button>
    </div>

  </div>
</header>
