<!-- <header>
  <div class="row">
    <div class="col-md-2 col-sm">

    <div class="logo">
      <img src="../../../../../assets/images/finlearnLogo.png" style="height: 50px; width: 100px;">
    </div>

    </div>
    <div class="col-md-6 col-sm">
      <p class="username">Olá, <b class="user-color">{{user}}</b>!</p>
    </div>
    <div class="col-md-4 col-sm" class="button-container">
      <button type="button" class="login-btn">
        <div class="row">
          <div class="col-4 line">
            <i class="fa fa-user"></i>
          </div>
          <div class="col">
            <p class="user-size-btn">
              <b>{{user}}</b>
            </p>
          </div>
        </div>
      </button>
    </div>

  </div>
</header> -->

<!-- <header>
  <nav>
    <ul class="icon-list" style="margin-top: 1.5rem;">
      <li
      *ngFor="let tab of tabs; let i = index"
      (click)="activeItem = i"
      [class.active]="activeItem === i"
      class="clickable"
      routerLink="{{tab.link}}"
      >
        <a >
          <i class="{{tab.classValue}}"></i>
        </a>
      </li>
      <li class="icon-list-end">
        <i class="fa fa-sign-out"></i>
      </li>
    </ul>
  </nav>
</header> -->

<header>
  <nav>
    <ul class="icon-list" style="margin-top: 1.5rem;">
      <li *ngFor="let tab of tabs; let i = index"
        (click)="activeItem = i"
        [class.active]="activeItem === i"
        class="clickable"
        routerLink="{{tab.link}}">
        <a>
          <i class="{{tab.classValue}}"></i>
        </a>
      </li>
    </ul>
  </nav>
</header>
<!-- Vai para dentro das opcoes do usuario no canto direito -->
<!-- <li class="clickable" (click)="logout()" routerLink="/authenticate/simple-auth">
  <a>
    <i class="fa fa-sign-out"></i>
  </a>
</li> -->
