<header>
  <nav>

    <div class="row justify-content-center">
      <div class="col-4"  >
        <img src="../../../../../assets/images/finlearnLogo.png" class="logo clickable" (click)="goTo('home')" loading="lazy">
      </div>
      <div class="col-4">
        <ul class="icon-list" style="margin-top: 1.5rem;">
          <li *ngFor="let tab of tabs; let i = index"
            (click)="activeItem = i"
            [class.active]="activeItem === i"
            class="clickable"
            routerLink="{{tab.link}}"
          >
            <a>
              <i class="{{tab.classValue}}"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <div class="row" >
          <div class="col-12" style="z-index: 0;">
            <span class="d-flex justify-content-center align-items-center" style="margin-top: 1rem;">
              <button class="dot" mat-button [matMenuTriggerFor]="beforeMenu">
                <i class='fa fa-user-circle' style='font-size: 30px'></i>
              </button>
            </span>
            <mat-menu #beforeMenu="matMenu" xPosition="before">
              <button mat-menu-item
                (click)="manageUser()"
              >
                <i class="fa fa-user mr-1"></i>
                Gerênciar usuário
              </button>
              <button mat-menu-item
                (click)="logout()"
                routerLink="/auth/login"
              >
                <i class="fa fa-sign-out mr-1"></i>
                Sair
              </button>
            </mat-menu>
          </div>
        </div>
        <!-- <li class="clickable" (click)="logout()" routerLink="/auth/login">
          <a>
            <i class="fa fa-sign-out"></i>
          </a>
        </li> -->
      </div>
    </div>
      <!-- <ul class="icon-list" style="margin-top: 1.5rem;">
        <li *ngFor="let tab of tabs; let i = index"
          (click)="activeItem = i"
          [class.active]="activeItem === i"
          class="clickable"
          routerLink="{{tab.link}}"
        >
          <a>
            <i class="{{tab.classValue}}"></i>
          </a>
        </li>
        <li class="clickable" (click)="logout()" routerLink="/auth/login">
          <a>
            <i class="fa fa-sign-out"></i>
          </a>
        </li>
      </ul> -->
  </nav>
</header>
<!-- Vai para dentro das opcoes do usuario no canto direito -->



