
p{
    font-family: 'Montserrat';
    font-size: larger;
    text-align: justify;
    margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 70%;
}

#content-cnt{
  position: absolute; margin-top: 130px !important; margin-left: 20px;
}

button.back{
    padding: 15px 50px 15px 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 20px;
    color: #444444;
    background-color: var(--secondary-color);
    border: 1px solid var(--border-light-btn);
    border-radius: 10px;
}

button.back:hover {
  background-color: #8bc34a;
  color: white;
}

.practice-result-container{

  justify-content: start;
  align-items: center;

}

.practice-result b{
    color: #059F30;
}

.result-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 0 10px 0;
}

.circle {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;

}

.circle:hover {
  background-color: #8bc34a;
}

.init-btn {
  position: absolute; margin-top: 676px; margin-left: 25px;
}

.popup-content {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  background-color: #f9f9f9;
  border: 1px solid rgb(194, 191, 191);
  color: gray;
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease;
}

.init-btn:hover .popup-content {
  visibility: visible;
  opacity: 1;
}

@media (max-height: 910px){
  img{
    max-height: 600px;
  }
  #content-cnt{
    position: absolute; margin-top: 130px !important; margin-left: 20px;
  }
  .init-btn {
    position: absolute; margin-top: 530px; margin-left: 21px;
  }
  .circle {
    width: 40px;
    height: 40px;
  }
  p{
    font-size: medium;
  }
  button.back{
    padding: 15px 30px 15px 30px;
  }
  .popup-content{
    max-width: 210px;
    padding: 5px;
    border-radius: 5px;
  }

}

@media (max-width:800px) {


  img {
    width: 100vw;
  }
  #content-cnt{
    position: absolute; margin-top: 130px !important; margin-left: 20px;
  }
  .init-btn {
    position: absolute; margin-top: 87%; margin-left: 3.4%;
  }
  .circle {
    width: 40px;
    height: 40px;
  }
  p{
    font-size: medium;
  }
  button.back{
    padding: 15px 30px 15px 30px;
  }
  .popup-content{
    max-width: 210px;
    padding: 5px;
    border-radius: 5px;
  }

}

@media (max-width:600px) {


  img {
    width: 100vw;
  }
  #content-cnt{
    position: absolute; margin-top: 20% !important; margin-left: 20px;
  }
  .init-btn {
    position: absolute; margin-top: 87%; margin-left: 3.4%;
  }
  .circle {
    width: 40px;
    height: 40px;
  }
  p{
    font-size: small;
  }
  button.back{
    padding: 15px 30px 15px 30px;
  }
  .popup-content{
    max-width: 210px;
    padding: 5px;
    border-radius: 5px;
  }

}


@media (max-width:500px) {


  img {
    width: 99vw;
  }
  #content-cnt{
    position: absolute; margin-top: 12% !important; margin-left: 18px;
  }
  .init-btn {
    position: absolute; margin-top: 86%; margin-left: 3.4%;
  }
  .circle {
    width: 25px;
    height: 25px;
  }
  p{
    font-size: 10px;
  }
  button.back{
    padding: 15px 30px 15px 30px;
    font-size: 12px;
  }
  .popup-content{
    max-width: 210px;
    padding: 5px;
    border-radius: 5px;
  }
  
  #content-cont {
    margin-right: 20px;

  }

  .result-title {

    font-size: 15px;
    text-align: center;

  }
  
  p {

    font-size: 8px;
 
  }

}


@media (max-width:300px) {


  img {
    width: 100vw;
    
  }
  #content-cnt{
    position: absolute; margin-top: 15% !important; margin-left: 13px;
  }
  .init-btn {
    position: absolute; margin-top: 87%; margin-left: 3.4%;
  }
  .circle {
    width: 20px;
    height: 20px;
  }
  p{
    font-size: 10px;
  }
  button.back{
    padding: 15px 30px 15px 30px;
    font-size: 12px;
  }
  .popup-content{
    max-width: 210px;
    padding: 5px;
    border-radius: 5px;
  }
  
  #content-cont {
    margin-right: 20px;

  }

  .result-title {

    font-size: 15px;
    text-align: center;

  }
  
  p {

    font-size: 6px;

  }

}