.bg {
  margin: 10rem;
  margin-left: 0;
}

h1{
    font-weight: bolder;
    font-family: 'Montserrat';
}

p{
    font-family: 'Montserrat';
    font-size: larger;
    text-align: justify;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 70%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* #grad{
    background-color: #059F30;
    /* For browsers that do not support gradients
    background-image: linear-gradient(to top right, #059F30, #FFFFFF);
} */


/* Estilo do botão de submit */
button.simulate {
    padding: 10px;
    background-color: #059F30;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

button.simulate.hover{
    background-color: #6D7279;
}

button.back{
    /* position: absolute; */
    /* width: 114px; */
    /* height: 48px; */
    padding: 15px 50px 15px 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 20px;
    color: #444444;
    background-color: var(--secondary-color);
    border: 1px solid var(--border-light-btn);
    border-radius: 10px;
}

button.back:hover {
  background-color: #8bc34a;
  /* background-color: var(--border-light-btn-whiter); */
  color: white;
}

.practice-result-container{

  justify-content: start;
  align-items: center;

}

img.relative {
    width: 43vw;
    position: relative;
}

div.absolute {
    font-size: 17px;
    width: 18vw;
    position: absolute;
    margin-left: 1.5rem;
    justify-content: center;
    align-items: center;
}

.practice-result b{
    color: #059F30;
    /* font-size: larger; */
}

#pratique1{
    padding: 30px;
    background: rgba(5, 159, 48, 0.15);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

#pergunta1{
    font-family: 'Montserrat';
    font-size: 26px;
    color: #000000;
}

#opcao1{
    height: 26vh;
    width: 15vw;
    background: #FFFFFF;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
    align-items: end;
}

#opcao2 {
    height: 26vh;
    width: 15vw;
    background: #FFFFFF;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
}

#opcao3 {
    height: 26vh;
    width: 15vw;
    background: #FFFFFF;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
}

/* #opcao1.hover, #opcao2.hover, #opcao3.hover{
    background-color: #6D7279;
} */

#voltar{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #444444;
    border-radius: 10px;
    border: none;
    background-color: rgba(0,0,0,0);
    padding: 10px;
}

#avancar{
    padding: 10px;
    font-size: 20px;
    background-color: #059F30;
    color: #fff;
    border-radius: 10px;
    font-weight:normal;
}

#pratique2{
    padding: 40px;
    background: rgba(5, 159, 48, 0.15);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

#pergunta2{
    font-family: 'Montserrat';
    font-size: 24px;
    color: #000000;
}

#pergunta3{
    font-family: 'Montserrat';
    font-size: 24px;
    color: #000000;
    margin-top: 1rem;
}

#pergunta4 {
    font-family: 'Montserrat';
    font-size: 24px;
    color: #000000;
}

.linha{
    width: 50vw;
    height: 0px;
    border: 1px solid #000000;
}

input{
    width: 50vw;
    font-size: 26px;
    background: transparent;
    border: none;
    font-family: 'Montserrat';
}

#pgh_years {
    color:#059F30;
    font-size: 22px;
}

.result-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 0 10px 0;
}

.circle {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white; /* Replace with your desired background color */

}

.circle:hover {
  background-color: #8bc34a;
}

.init-btn {
  position: absolute; margin-top: 676px; margin-left: 25px;
}


@media screen and (max-height: 910px){
  img{
    max-height: 600px;
  }
  #content-cnt{
    position: absolute; margin-top: 130px !important; margin-left: 20px;
  }
  .init-btn {
    position: absolute; margin-top: 530px; margin-left: 21px;
  }
  .circle {
    width: 40px;
    height: 40px;
  }
  p{
    font-size: medium;
  }
  button.back{
    padding: 15px 30px 15px 30px;
  }
  .popup-content{
    max-width: 210px;
    padding: 5px;
    border-radius: 5px;
  }

}

.popup-content {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  background-color: #f9f9f9;
  border: 1px solid rgb(194, 191, 191);
  color: gray;
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease;
}

.init-btn:hover .popup-content {
  visibility: visible;
  opacity: 1;
}
