.bg {
  margin: 10rem;
  margin-left: 0;
}

h1{
    font-weight: bolder;
    font-family: 'Montserrat';
}

.investment-title {
    font-family: 'Montserrat';
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.linha{
    width: 100%;
    height: 0px;
    border: 1px solid #000000;
    margin: 0;
    padding: 0;
    
}

input{
    width: 100%;
    font-size: 20px;
    background: transparent;
    border: none;
    font-family: 'Montserrat';
    outline: 0;
}

#pgh_years {
    color:#0000ca;
    font-size: 18px;
    margin: 0;
    padding: 0;
    text-align: end;
}



.options-container {

    max-height: 80%;
    min-height: 60%;
    width: 80%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: auto;
    margin: 0;

}


@media (max-width: 560px) { 

    .investment-title {

        font-size: 15px;

    }

    #pgh_years { 
        
        font-size: 12px;
    
    }

    input {

        font-size: 12px;

    }

}
@media (max-width: 300px) { 

    .investment-title {

        font-size: 12px;

    }

    #pgh_years { 
        
        font-size: 11px;
    
    }

    input {

        font-size: 11px;

    }

    .options-container {

        padding: 15px

    }

}