<body>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <form [formGroup]="formInvestmentInfo" (ngSubmit)="onSubmit()">
    <div style="display:flex; justify-content: center; align-items: center; height: 100vh; width: 100%; max-width: 55vw;">
      <div class="row" id="pratique2">
        <div id="pergunta2">
          <p>Qual seria seu investimento inicial?</p>
        </div>
        <div>
          <input type="number" formControlName="initialInvestment" placeholder="R$ 0,00">
          <div class="linha"></div>
        </div>
        <div id="pergunta3">
          <p>Por quanto tempo planeja manter esse investimento?</p>
        </div>
        <div>
          <label for="customRange" class="form-label"></label>
          <input
            type="range"
            min="1"
            max="120"
            id="time_input"
            name="time_input"
            formControlName="howLong"
          ><br>
          <p id="pgh_years"><output id="years">64</output> meses.</p><br>
        </div>
        <div id="pergunta4">
          <p>E quanto você planeja investir por mês?</p>
        </div>
        <div>
          <input type="number" formControlName="howMany" placeholder="R$ 0,00">
          <div class="linha"></div>
          <p style="color:red">* opcional</p>
        </div>
        <div class="d-flex justify-content-between">
          <div>
            <button id="voltar" type="button" (click)="goTo(1)">VOLTAR</button>
          </div>
          <div>
            <button id="avancar" type="submit" ><b>AVANÇAR</b></button>
          </div>
        </div>
      </div>
    </div>
  </form>
</body>
