<body>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <form [formGroup]="formInvestmentInfo" (ngSubmit)="onSubmit()" *ngIf="formInvestmentInfo">
    <div class="row practice-type-container m-0 p-0">
      <div class="row options-container gray-square">
        <div class="row m-0 p-0">
          <p class="investment-title"><b>Investimento inicial:</b> <span style="color: red;">*</span></p>
          <input
            formControlName="initialInvestment"
            currencyMask
            type="text"
            placeholder="R$ 0,00"
            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' , align: 'left'}"
            (ngModelChange)="onInitialInvestmentInput($event)"
          >
          <div class="linha"></div>
        </div>
        <div class="row m-0 p-0">
          <p class="investment-title">Tempo de investimento: <span style="color: red;">*</span></p>
          <input
            type="range"
            min="1"
            max="24"
            id="time_input"
            name="time_input"
            formControlName="howLongInYears"
            (input)="onRangeInput($event)"
          >
          <p id="pgh_years">{{rangeValue > 1 ? rangeValue + " anos." : rangeValue + " ano."}}</p><br>
        </div>
        <div class="row m-0 p-0">
          <p class="investment-title">Investimento mensal:</p>
          <input
            formControlName="monthlyInvestment"
            currencyMask
            placeholder="R$ 0,00"
            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' , align: 'left'}"
          >
          <div class="linha"></div>
        </div>
      </div>
      <div class="m-0 p-0 d-flex justify-content-between align-items-center" style="max-width: 80%;">
        <button (click)="goTo(0)" class="white-go-back-button"><b>VOLTAR</b></button>
        <button type="submit" class="green-confirm-button" *ngIf="clicked"><b>SALVAR</b></button>
      </div>
    </div>
  </form>
</body>
