<body>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    

    <div class="smaller-screens" >

        <div class="row d-flex justify-content-center align-items-center card-container">
            <app-contact></app-contact>
        </div>
        <div class="row d-flex justify-content-center align-items-center card-container" style="height: 100%; overflow-y: auto;">
            <app-frequent-questions class="m-0 p-0"></app-frequent-questions>
        </div>
    </div>
    <div class="bigger-screens">
        <div class="row h-100 m-0 p-0" style="max-height: 99.3vh; overflow: hidden;">
            <div class="col-6 m-0 p-0" style="border-right: 1px solid black; overflow: auto; height: 100vh;">
                <app-frequent-questions></app-frequent-questions>
            </div>
            <div class="col-6 m-0 p-0" style=" height: 100vh;">
                <app-contact style="position: sticky; "></app-contact>
            </div>
        </div>
    </div>
    
    
    
</body>
