<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<body>
    <main class="main-content bg">
        <div id="faq" class="row">
            <div class="col-md-6 border-right mt-5">
                <h2><b>Perguntas frequentes</b></h2>
                <p style="text-align: center; word-spacing: 4px;">Precisa de ajuda? Consulte as perguntas mais frequentes para tirar suas dúvidas:</p>
                <div class="accordion accordion-flush" id="faq-perguntas">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                <u>Como entro em contato com um especialista?</u>
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Para entrar em contato com um especialista você pode iniciar uma nova conversa na 
                                comunidade e.</div>
                        </div>
                    </div>
                    <div id="two" class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                <u>Como participar de uma conversa na Comunidade?</u>
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Para participar de uma conversa na Comunidade você deve estar logado em sua conta,
                                acessar a aba "Comunidade" e procurar pela conversa que deseja participar. Ao selecionar a conversa desejada,
                                a opção de "Participar da conversa" ficará disponível.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" style="line-height: 2rem;"
                                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                <u>Onde faço o quiz para saber meu perfil de investidor?</u>
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">O quiz para definir qual seu perfil de investidor fica disponível no seu perfil, .</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                <u>Como visualizo quais aulas eu já assisti?</u>
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample" style="height: 500px;">
                            <div class="accordion-body">Para acompanhar o seu progresso em um curso, basta selecioná-lo na aba "Aprenda" e verificar
                                através do widget "Progresso no curso" quantos por cento já foi realizado e verificar as demais estatísticas de progresso também.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="contato" class="col-md-6 border-left">
                <h2 style="margin-top: 5rem;"><b>Contato</b></h2>
                <p style="text-align: center;">Não encontrou a resposta para sua pergunta? Fale conosco:</p>
                <form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="form-modal">
                    <div class="form-group form-container">
                        <input type="text" formControlName="text" class="form-control" id="nome" name="nome" placeholder="Nome" required>
                        <input type="email" formControlName="email" class="form-control" id="email" name="email" placeholder="E-mail" required> <br>
                        <input type="text" formControlName="text" class="form-control" id="assunto" name="assunto" placeholder="Assunto" required>
                        <textarea id="descricao" formControlName="descricao" class="form-control" name="descricao" rows="4"
                            cols="57" placeholder="    Digite sua dúvida:" required></textarea>
                        <button [disabled]="!formulario.valid" type="submit" class="btn btn-success btn-lg"><b>Enviar</b></button>
                    </div>
                </form>
            </div>
        </div>
    
    </main>
</body>
