<body>
    <main>
        <div class="row">
            <div class="col-6">
                <h2>Perguntas frequentes</h2>
                <p style="text-align: center;">Precisa de ajuda? Consulte as perguntas mais frequentes para tirar suas dúvidas:</p>
                <!-- <div class="row">
                    <div class="col-11" id="pergunta_faq">
                        <p>Pergunta 1</p>
                    </div>
                    <div class="col-1">
                        <button class="clickBtn" (click)="enableClick()" style="font-weight: bold;">+</button>
                    </div>
                </div>
                <div class="row" *ngIf="clicked_p1">
                    <div class="col-12" id="resposta_faq">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam
                        nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                        Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. Nam mattis, felis ut adipiscing.</p>
                    </div>
                </div>
                <br> -->
                <!-- <div class="row">
                    <div class="col-11" id="pergunta_faq">
                        <p>Pergunta 2</p>
                    </div>
                    <div class="col-1">
                        <button class="clickBtn" (click)="enableClick()" style="font-weight: bold;">+</button>
                    </div>
                </div>
                <div class="row" *ngIf="clicked_p2">
                    <div class="col-12" id="resposta_faq">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum.
                            Aliquam
                            nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                            egestas.
                            Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. Nam mattis, felis ut
                            adipiscing.</p>
                    </div>
                </div>
                <br> -->
                <!-- <div class="row">
                    <div class="col-11" id="pergunta_faq">
                        <p>Pergunta 3</p>
                    </div>
                    <div class="col-1">
                        <button class="clickBtn" (click)="enableClick()" style="font-weight: bold;">+</button>
                    </div>
                </div>
                <div class="row" *ngIf="clicked_p3">
                    <div class="col-12" id="resposta_faq">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum.
                            Aliquam
                            nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                            egestas.
                            Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. Nam mattis, felis ut
                            adipiscing.</p>
                    </div>
                </div>
                <br> -->
                <!-- <div class="row">
                    <div class="col-11" id="pergunta_faq">
                        <p>Pergunta 4</p>
                    </div>
                    <div class="col-1">
                        <button class="clickBtn" (click)="enableClick()" style="font-weight: bold;">+</button>
                    </div>
                </div>
                <div class="row" *ngIf="clicked_p4">
                    <div class="col-12" id="resposta_faq">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum.
                            Aliquam
                            nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                            egestas.
                            Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. Nam mattis, felis ut
                            adipiscing.</p>
                    </div>
                </div> -->
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                aria-expanded="false" aria-controls="collapseOne">
                            Pergunta #1
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse
                                plugin adds the appropriate classes that we use to style each element. These classes control the overall
                                appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                                custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go
                                within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Pergunta #2
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse
                                plugin adds the appropriate classes that we use to style each element. These classes control the overall
                                appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                                custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go
                                within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Pergunta #3
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse
                                plugin adds the appropriate classes that we use to style each element. These classes control the overall
                                appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                                custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go
                                within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="contato" class="col-6">
                <h2>Contato</h2>
                <p style="text-align: center;">Não encontrou a resposta para sua pergunta? Fale conosco:</p>
                <form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="form-modal">
                    <div class="form-group form-container">
                        <input type="email" formControlName="email" class="form-control" id="email" name="email"
                            placeholder="E-mail" required>
                        <textarea id="descricao" formControlName="descricao" class="form-control" name="descricao" rows="4"
                            cols="57" placeholder="Digite sua dúvida:" required></textarea>
                        <button type="submit" class="btn btn-success">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>