* {
    margin: 0;
    padding: 0;
}

h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em auto;
}

.border-right{
    border-right:  1px solid;
}

.form-container{
    margin: 4em auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

input {
    display: block;
    margin: 8px 0 10px;
    padding: 8px;
    border: 0.5px solid #888;
    border-radius: 4px;
}

textarea{
    font-size: 1rem;
    border-radius: 8px;
    margin-bottom: 0.625rem;
}

p {
    font-size: 1.09rem;
}

#faq{
    width: 80%;
    margin-left: 4.688rem;
    margin-top: 4.688rem;
}

.main-content {
    margin-top: 3.75rem;
    margin-left: 9.4rem;
    margin-bottom: 3.75rem;
    padding: 0.625rem;
}

button.btn{
    margin-top: 1em;
    background-color: green;
}