<body>

  <div class="auth-container" >

      <div class="row card d-flex justify-content-center align-items-center m-0 p-0">
        <div class="p-3 d-flex justify-content-center align-items-center">
          <img [src]="imagePath" class="logo-style">
        </div>
        <div class="row m-0 p-0 py-1 d-flex title-header-color">
            <label class="tab-title text-center">{{tabTitle}}</label>
        </div>
            
        <form class="m-0 p-3" [formGroup]="loginForm" (ngSubmit)="submit()">
            <div class="mt-2 mb-3">
              <input type="email" id="loginSmallerScreenUsername" name="username" formControlName="username" placeholder="Email*" class="classic-input">
              <span class="red bold ft-xx-small hide" id="loginSmallerScreenUsername-error">Digite um email válido.</span>
            </div>
            <div class="mb-3">
              <div class="classic-input" id="loginSmallerScreenPasswordDiv">
                <input type="password" id="loginSmallerScreenPassword" name="password" formControlName="password" placeholder="Senha*" class="no-border-for-input w-100 h-100">
              </div>
              <span class="red bold ft-xx-small hide" id="loginSmallerScreenPasswordDiv-error">Digite uma senha com pelo menos 6 caracteres.</span>
            </div>
            <button type="submit" class="login-register-btn">ENTRAR</button>
        </form>
        
        <div class="row px-3 py-0">
          <div class="col-12 d-flex justify-content-between">
                <a class="forgot-password clickable">Esqueci minha senha</a>
                <a class="specialist clickable">Sou um especialista</a>
          </div>
        </div>
    
        <div class="row mt-4 mb-2">
            <app-line></app-line>
            <app-login-through ></app-login-through>
        </div>
    
        <div class="row">
          <div class=" d-flex justify-content-end align-items-center p-3">
            <button class="no-border-for-input black-border-btn" (click)="enableRegisterPage()">Não tenho conta</button>
          </div>
        </div>
        
      </div>

  </div>

</body>