<body>

    <div class="auth-container">

        <div class="row card d-flex justify-content-center align-items-center">
            <img [src]="imagePath" class="logo-style">
        </div>
        <div class="row m-0 p-1 title-header-color">
            <label class="tab-title">{{tabTitle}}</label>
        </div>
        <div class="row card">
            
            <form class="m-0 p-0">
                <div class="mt-2 mb-3">
                  <input type="text" id="username" name="username" placeholder="Email*" class="classic-input">
                </div>
                <div class="mb-3">
                  <div class="classic-input">
                    <input type="password" id="password" name="password" placeholder="Senha*" class="no-border-for-input w-100 h-100">
                  </div>
                </div>
                <button type="submit" class="login-register-btn">ENTRAR</button>
            </form>
        
            <div class="row pt-2">
              <div class="col-12 d-flex justify-content-between">
                    <a class="forgot-password clickable">Esqueci minha senha</a>
                    <a class="specialist clickable">Sou um especialista</a>
              </div>
            </div>
        
            <div class="row my-4 ">
                <app-line></app-line>
                <app-login-through ></app-login-through>
            </div>
        
            <div class="row mt-3">
              <div class=" d-flex justify-content-end align-items-center ">
                <button class="no-border-for-input black-border-btn" (click)="enableRegisterPage()">Não tenho conta</button>
              </div>
            </div>
        
        </div>

    </div>

</body>