<div class="bg">

  <form
    class="form-modal"
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
  >

    <div class="row mt-5 justify-content-center" >
      <div class="col-12 center form-group">
        <input
          class="end"
          type="radio"
          id="newUser"
          name="user_type"
          value="newUser"
          formControlName="user_type"
          required
        >
        <label class="space" for="newUser">Novo usuário</label>
        <input
          class="space start"
          type="radio"
          id="specialist"
          name="user_type"
          value="specialist"
          formControlName="user_type"
          required
        >
        <label class="space" for="specialist">Especialista</label>
      </div>
    </div>

    <div class="row">
      <div class="col-12 field-center my-3 form-group">
        <input
          class="field separator"
          type="text"
          id="name"
          placeholder="Nome completo"
          formControlName="name"
          required
        >
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-6 field-end form-group">
        <input
          class="field separator"
          type="email"
          id="email"
          placeholder="Email"
          formControlName="email"
          required
        >
      </div>

      <div class="col-6 field-start form-group">
        <input
          class="field separator"
          type="text"
          id="birth_date"
          placeholder="Data de nascimento"
          onfocus="(type='date')"
          formControlName="birthDate"
          required
        >
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-6 field-end">
        <input
          class="field separator"
          type="password"
          id="password"
          placeholder="Digite sua senha"
          required
        >
      </div>
      <div class="col-6 field-start form-group">
        <input
          class="field separator"
          type="password"
          id="password"
          placeholder="Digite a senha novamente"
          formControlName="password"
          required
        >
      </div>
    </div>

    <div class="row field-center">
      <button
        [disabled]="!registerForm.valid"
        type="submit"
        class="registerBtn mb-5"
      >Registrar</button>
    </div>
  </form>
</div>


