* {
  overflow-x: hidden;
}

.main-content {
	margin-top: 3.75rem;
	margin-left: 9.4rem;
	padding: 0.625rem;
  font-family: Verdana;
}

.topic {
  height: 22rem;
  width: (100%-9.4rem);
  border: 1px solid rgb(122, 122, 122);
  background-color: rgba(143, 247, 79, 0.468);
  border-radius: 0.938rem;
  margin: 1rem;
  color: black;
}

.sub-topic {
  height: 10rem;
  border: 1px solid rgb(122, 122, 122);
  border-radius: 0.938rem;
  font-size: 1.4vw;
  background-color: white;
  color: black;
  font-size: medium;
}

.centralize {
  margin-left: 1rem;
  margin-top: 1.5rem;
  font-size: 1.7vw;
}

.center {
  text-align: center;
}

@media screen and (max-height: 768px){
  .topic{
    height: 16rem;
  }
}