<div class="bg">
  <div class="high_component">
    <div id="ultimo_acesso" class="outline">
      <div class="title">
        <div style="border-bottom: #E2E2E2 solid thin">
          <h3>Último Acesso</h3>
        </div>
      </div>
      <div class="content">
        <p >Iniciando em Títulos Públicos, Módulo 01, Aula 02:</p>
        <p>Onde podem ser adquiridos?</p>
        <div id="button_assistir_wrapper">
          <button>
            <div><img src="../../../assets/images/home/play_icon.png" alt="play_icon"></div>
            <div style="border-left: #E2E2E2 solid thin">ASSISTIR</div>
          </button>
        </div>
      </div>
    </div>

    <div id="em_alta_na_comunidade" class="outline">
      <div class="title">
        <div style="border-bottom: #E2E2E2 solid thin">
          <h3>Em Alta na Comunidade</h3>
        </div>
      </div>
      <div class="content">
        <div class="right_divisor">
          <div class="user_info">
            <img src="../../../assets/images/home/gcbsamaral.png" alt="user_gcbsamaral">
            <i>@gcbsamaral</i>
            <p>iiiiiih as americanas foram de americanas, só sei disso</p>
          </div>
          <div>
            <button class="invisible_button like_reply_button"><img src="../../../assets/images/home/like_icon.png" alt="like_icon"><i>367</i></button>
            <button class="invisible_button like_reply_button"><img src="../../../assets/images/home/reply_icon.png" alt="reply_icon"><i>52</i></button>
            <button class="invisible_button report_join_button"><img src="../../../assets/images/home/report_icon.png" alt="report_icon"></button>
            <button class="invisible_button report_join_button"><img src="../../../assets/images/home/join_chat_icon.png" alt="join_chat_icon"></button>
          </div>
        </div>
        <div class="right_divisor">
          <div class="user_info">
            <img src="../../../assets/images/home/myles_the_dog.png" alt="user_myles_the_dog">
            <i>@myles_the_dog</i>
            <p>Podiam abaixar o preço da picanha NÉ</p>
          </div>

          <div>
            <button class="invisible_button like_reply_button"><img src="../../../assets/images/home/like_icon.png" alt="like_icon"><i>999k</i></button>
            <button class="invisible_button like_reply_button"><img src="../../../assets/images/home/reply_icon.png" alt="reply_icon"><i>7864</i></button>
            <button class="invisible_button report_join_button"><img src="../../../assets/images/home/report_icon.png" alt="report_icon"></button>
            <button class="invisible_button report_join_button"><img src="../../../assets/images/home/join_chat_icon.png" alt="join_chat_icon"></button>
          </div>
        </div>
      </div>
    </div>

    <div id="notificacoes" class="outline">
      <div class="title">
        <div style="border-bottom: #E2E2E2 solid thin">
          <h3>Notificações</h3>
        </div>
      </div>
      <div class="content">
        <div class="bottom_divisor notification">
          <img src="../../../assets/images/home/chat_notification_icon.png" alt="chat_notification_icon">
         <div>398 novas mensagens de 9 conversas</div>
        </div>
        <div class="bottom_divisor notification">
          <img src="../../../assets/images/home/calendar_notification_icon.png" alt="calendar_notification_icon">
          <div>“Semana do Investidor, Aula 1” começa hoje daqui a 4 horas</div>
        </div>
        <button class="invisible_button"><img src="../../../assets/images/home/dots_icon.png" alt="dots_icon"></button>
      </div>
    </div>
  </div>

  <div class="outline">
    <div class="low_component">
      <div class="right_divisor" id="daily_question">Pergunta do dia</div>
      <div class="right_divisor" id="calendar">Minha agenda</div>
      <div class="right_divisor" id="progress">Meu progresso</div>
      <div class="right_divisor" id="wallet">Minha carteira</div>
      <div class="right_divisor" id="news">Notícias</div>
    </div>
    <div class="content">
      <img src="../../../assets/images/home/progress.png" alt="progress">
    </div>
  </div>
</div>
