<div class="main-content bg" xmlns:div="http://www.w3.org/1999/html">
  <div class="content">
    <div>
      <p>Último Acesso</p>
      <div>
        <p>Iniciando em Títulos Públicos,<br>Aula 02 - O que eles são?</p>
      </div>
    </div>

    <div>
      <p>Em Alta na Comunidade</p>
      <div>
        <p>Conversation 1</p>
      </div>
    </div>

    <div id="noticias">
      <p>Notícias</p>
      <div>
        <p>Dow Jones subiu na quinta-feira impulsionado por Salesforce e discurso do Fed de Atlanta oferecer um rali de alívio</p>
      </div>
    </div>

  </div>
</div>
