
<div class="main-content bg" >

  <div class="row" >
    <div class="col-md-6">
      <div id="modulos" class="topic">
        <p class="centralize mx-4 mb-1">{{which_module}} acesso:</p>
        <div class="row">
          <div class="col mx-3" >
            <div class="sub-topic" >
              <p class="center">"Iniciando em títulos públicos" - Aula 02</p>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div id="comunidade" class="topic">
        <p class="centralize mx-4 mb-1">Em alta na Comunidade:</p>
        <div class="row">
          <div class="col mx-3">
            <div class="sub-topic">
              <p class="center">Conversation 1</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div id="noticias" class="topic">
        <p class="centralize mx-4 mb-1">Últimas notícias:</p>
        <div class="row">
          <div class="col mx-3">
            <div class="sub-topic">
              <p class="center">Embarque de soja do Brasil soma 947 mil toneladas por dia no início de abril, em ritmo de recorde</p>
              <p class="center">Ação da Tupperware desaba quase 50% após companhia contratar consultores para avaliar operação</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
