* {
  overflow-x: hidden;
}

.main-content {
	margin-top: 3.75rem;
	margin-left: 9.4rem;
	padding: 0.625rem;
}

.topic {
  height: 12rem;
  width: (100%-9.4rem);
  border: 1px solid rgb(122, 122, 122);
  background-color: #e7fce7;
  box-shadow: 0.313rem 0.188rem 0.625rem rgb(122, 122, 122);
  border-radius: 0.938rem;
  margin: 1rem;
}

.sub-topic {
  height: 7rem;
  border: 1px solid rgb(122, 122, 122);
  border-radius: 0.938rem;
  font-size: 1.7vw;
}

.centralize {
  margin-left: 1rem;
  margin-top: 1.5rem;
  font-size: 1.7vw;
}

.center {
  text-align: center;
}
