.lecture-info-position {

    display: inline-block; 
    vertical-align: middle;

}


.title {

    font-size: 15px;
    
}

.lecture-info-text {

    margin: 0; 
    margin-left: 5px; 

}

.description {

    font-family: monospace;
}

.watch-btn {

    color: white;
    background-color: var(--blue);
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px 10px 5px 10px;
    width: 100%;
    font-weight: bold;

}

.rewatch-btn {

    color: white;
    background-color: var(--gray);
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px 10px 5px 10px;
    width: 100%;
    font-weight: bold;

}

@media (max-width: 900px) {

    .watch-btn,
    .rewatch-btn {

        font-size: 7px;

    }

    .lecture-info-text {

        font-size: 7px;
        margin-left: 3px;
    
    }

    .title {

        font-size: 10px;

    }

    .description {

        font-size: 6px;
    }

    .icon-size {

        font-size: 6px;

    }

    .image-size {

        /* height: 10px; */
        width: 50px;

    }

}

@media (max-width: 400px) {

    .title {

        font-size: 8px;

    }

    .watch-btn {

        font-size: 6px;
        padding: 5px 5px 5px 5px;

    }

    .image-size {

        width: 30px;

    }

}

@media (max-width: 300px) {

    .title {

        font-size: 7px;

    }

    .rewatch-btn,
    .watch-btn {

        font-size: 5px;

    }

    .border-around {

        margin: 1rem 5px 5px 5px !important ;

    }
}