
#back-button {
  font-size: 30px;
  background-color: transparent;
  outline: none;
  border: 0;
}

.container {
  display: flex;
  flex-wrap: wrap; 
}

.component1,
.component2 {
  flex: 1; 
  min-width: 100%;
  min-height: 100%; 
  border: 1px solid #ccc; 
  border-radius: 5px;
  box-sizing: border-box;
  margin: 5px;
}