
<div class="content-wrapper" *ngIf="spinner">

  <input type="radio" name="toggle" id="toggle2">
  <input type="radio" name="toggle" id="toggle3">

  <section id="section-1"  style="background-color: var(--secondary-color)">
    <div class="row section-style">
      <div class="col-4">
          <app-simple-login (spinner)="changeSpinnerValue($event)"></app-simple-login>
          <label class="position"  for="toggle2" >Não tenho conta</label>
      </div>
      <div class="col-8">
        <app-simple-auth-bg [register]="register"></app-simple-auth-bg>
      </div>
    </div>
  </section>

  <section id="section-2"  style="background-color: var(--secondary-color)">
    <div class="row section-style">
      <div class="col-4">
          <app-simple-register (spinner)="changeSpinnerValue($event)"></app-simple-register>
          <label class="position" for="toggle3">Já tenho conta</label>
      </div>
      <div class="col-8">
        <app-simple-auth-bg [register]="!register"></app-simple-auth-bg>
      </div>
    </div>
  </section>

</div>
<div class="row justify-content-between spinner" *ngIf="!spinner">
  <div class="row  d-flex justify-content-center align-items-end ">
    <img src="../../../../../assets/images/finlearnLogo.png" style="height: 125px; width: 300px;" loading="lazy">
  </div>
  <div class="row d-flex justify-content-center align-items-start mt-2">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</div>
