*{
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.content-wrapper {
  width: 100vw;
  max-height: 100vh;
}

.section-style {
  width: 100vw;
  height: 100vh;
}



#section-1, #section-2 {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

#section-1 {
  opacity: 1;
  z-index: 5;
  transition: transform 0.5s, opacity 0.5s;
}

#section-2 {
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}


#section-2 .image-container {
  opacity: 0;
  transform: translateY(2em);
  transition: all 1s 0.7s;
}
#section-2 .info-container {
  opacity: 0;
  transform: translateY(-2em);
  transition: all 1s 0.7s;
}

.label-config {
  display: block;
  border: solid 2px black;
  padding: 1em 2em;
  border-radius: 5px;
  cursor: pointer;
}

#toggle2:checked ~ #section-2 {
  opacity: 1;
}

#toggle2:checked ~ #section-1 {
  opacity: 0;
  transform: scale(0.95);
  pointer-events: none;
}

#toggle2:checked ~ #section-2 .image-container,
#toggle2:checked ~ #section-2 .info-container {
  opacity: 1;
  transform: translateY(0);
  transition: top transform 0.5s, opacity 0.5s;
}

#toggle3:checked ~ #section-1 {
  transition: top transform 0.5s 0.5s, opacity 0.5s 0.5s;
}

#toggle3:checked ~ #section-2 .image-container,
#toggle3:checked ~ #section-2 .info-container {
  transition: top transform 0.5s, opacity 0.5s;
}


/* -------second option------ */



body {

  margin: 0;
  padding: 0;
  background-color: #1f761f;

}

input {
  padding-left: 15px;
}

