body {

  margin: 0;
  padding: 0;

}

.main-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.content {
  background: linear-gradient(to bottom, #059F30, #13C9C9);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 70px;
}

.typing-animation::after {
  content: "";
  display: inline-block;
  animation: typing 2s steps(10, end) infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
