<body>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <div class="row bg justify-content-center">
    <div class="col-6">
      <div class="container">
          <h1 style="line-height: 3.5rem;">Simulador de Investimentos</h1>
          <p >O simulador de investimentos calcula de forma simples e descomplicada qual será
            o retorno do seu dinheiro após uma aplicação a uma determinada taxa e período.</p>
          <button id="simulateBtn" type="button" class="simulate" (click)="goTo(1)"><b>SIMULAR</b></button>
      </div>
    </div>
    <div class="col-6">
      <img src="/assets/images/pratique/bro.svg" alt="" width="550" height="400">
    </div>
  </div>
</body>
