<body>

  <div class="auth-container" >

    <div class="row card d-flex justify-content-center align-items-center m-0 p-0">
      <div class="p-3 d-flex justify-content-center align-items-center">
        <img [src]="imagePath" class="logo-style">
      </div>
      <div class="row m-0 p-0 py-1 d-flex title-header-color">
          <label class="tab-title text-center">{{tabTitle}}</label>
      </div>
          
      <div class="row my-3">
        <app-login-through ></app-login-through>
        <app-line></app-line>
    </div>
    <form class="m-0 px-3">
        <div class=" mb-2">
          <input type="text" id="fullName" name="fullName" placeholder="Nome completo*" class="classic-input">
        </div>
        <div class="mb-2">
          <input type="text" id="phone" name="phone" placeholder="Telefone*" class="classic-input">
        </div>
        <div class="row mb-2 justify-content-between">
          <div style="max-width: 48%;">
            <input type="userName" id="userName" name="userName" placeholder="Email*"  class="classic-input">
          </div>
          <div style="max-width: 48%;">
            <input type="userNameCheck" id="userNameCheck" name="userNameCheck" placeholder="Confirme seu email*" class="classic-input">
          </div>
        </div>
        <div class="row mb-2 justify-content-between">
          <div class="classic-input" style="max-width: 48%;">
            <input id="registerPasswordSmallerScreen" type="password" name="password" placeholder="Senha*" class="no-border-for-input w-100 h-100">

          </div>
          <div class="classic-input" style="max-width: 48%;">
            <input id="registerPasswordCheckSmallerScreen" type="passwordCheck" name="passwordCheck" placeholder="Confirme sua senha*" class="no-border-for-input w-100 h-100">

          </div>
        </div>
        <button type="submit" class="login-register-btn">CADASTRAR</button>
    </form>


    <div class="row p-3">
      <div class=" d-flex justify-content-start align-items-center ">
        <button class="no-border-for-input black-border-btn" (click)="enableLoginPage()">Já tenho conta</button>
      </div>
    </div>
      
    </div>

  </div>
</body>