<body>
    <div class="m-0 p-0 row d-flex justify-content-center align-items-center" >
        <div class="col-2 red circle border-red center clickable mx-1">
            <i class="fa fa-google icon-size" aria-hidden="true"></i>
        </div>
        <div class="col-2 blue circle border-blue center clickable mx-1" >
            <i class="fa fa-facebook icon-size " aria-hidden="true"></i>
        </div>
        <div class="col-2 blue circle border-blue center clickable mx-1">
            <i class="fa fa-windows icon-size" aria-hidden="true"></i>
        </div>
        <div class="col-2 gray circle border-gray center clickable mx-1">
            <i class="fa fa-apple icon-size" aria-hidden="true"></i>
        </div>
    </div>
</body>