
.sidebar {
  width: 9.4rem;
  position: fixed;
  top: 3.75rem;
  left: 0;
  height: calc(100% - 3.75rem);
  background-color: white;
  color: black;
  overflow-y: auto;
  transition: all 0.3s ease-in-out;
  border-right: 0.063rem solid black;
}

.sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar ul li {
  padding: 0.625rem 1.25rem;
}

.sidebar ul li:last-child {
  border-bottom: none;
}

.sidebar ul li a {
  color: black;
  text-decoration: none;
  display: block;
}

li.active {
  background-color: var(--medium-green);
}
/* .sidebar ul li a:hover {
  padding-left: 0.5rem;
  margin-left: 0.188rem;
  width: 0.5rem;
  background-color: #7abd7a;
} */

ul.sub-menu li:hover {
  pointer-events: fill;
  border-top: 0;
  color: #465a6e;
  background-color: var(--light-green);
}

@media screen and (max-width: 480px) {
  .sidebar {
    height: calc(100% - 3.75rem);
  }
}
