<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<meta name="viewport" content="width=device-width, initial-scale=1">

<button id="back-button" (click)="goBack()"><i class='fa fa-arrow-left'></i></button>

<h2 style="padding-bottom: 15px; text-align: center;"><b>Títulos Públicos</b></h2>
<div class="container d-flex">
    <div class="videoplayer">
        <div>
            <iframe width="765" height="350" src="https://www.youtube.com/embed/iwnkxjmrCPY">
            </iframe>
        </div>
        <div class="video">
            1
            <img src="/assets/images/learn/thumbnail.svg" alt="" style="height: 6vh; width: 6vw;">
            Como comprar títulos por meio da <b>XP</b>
        </div>
        <div class="video">
            2
            <img src="/assets/images/learn/thumbnail.svg" alt="" style="height: 6vh; width: 6vw;">
            Como comprar títulos por meio do <b>Inter</b>
        </div>
        <div class="video">
            3
            <img src="/assets/images/learn/thumbnail.svg" alt="" style="height: 6vh; width: 6vw;">
            Como comprar títulos por meio do <b>PagBank</b>
        </div>
        <div class="video">
            4
            <img src="/assets/images/learn/thumbnail.svg" alt="" style="height: 6vh; width: 6vw;">
            Como comprar títulos por meio da <b>Caixa</b>
        </div>
        <div class="video">
            5
            <img src="/assets/images/learn/thumbnail.svg" alt="" style="height: 6vh; width: 6vw;">
            Como comprar títulos por meio do <b>C6</b>
        </div>
    </div>
</div>