* {
  margin: 0;
  padding: 0;
}

.news-header {
  font-size: larger;
  margin-left: 2.3rem;
}

.news-container {
  background-color: white;
  box-shadow: .3rem .3rem .3rem var(--shadow);
  margin: 1rem 2rem 2rem 2rem;
  border-radius: 1rem;
}

.rounded {
  border-radius: 1rem;
}

.news-color {
  font-size: small;
  background-color: rgba(255, 255, 255, 0.651);
  color: var(--news-color);
}
