/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {
  --classic-color: #1f761f;
  --secondary-color: #FFFFFF;
  --contrast-color: #F4A130;
  --medium-green: #ebf7e3;
  --light-green: #5bbc1e77;
  --border-light-btn: #a1b6a1;
  --grayish: #d2d2d2;
  --progress-to-do: #ffffff;
  --progress-done: #869c8d;
  --shadow: #d8d4d4;
  --whiter: #e9f9f2;
  --select-box: #9f9f9f;
  --news-color: #31315c;
  --practice: #d6d6d6;
}

input {
  text-indent: 1rem;
}

.clickable {
  cursor: pointer;
}

.separator {
  border: 1px solid #dcdbdb;
  border-radius: 1rem;
  width: 100%;
  height: 5vh;
}

.field-center {
  display: flex;
  justify-content: center;
}

.ft-xx-small {
  font-size: xx-small;
}

.ft-x-small {
  font-size: x-small;
}

.ft-smaller {
  font-size: smaller;
}

.ft-small {
  font-size: small;
}

.ft-med {
  font-size: medium;
}

.ft-lg {
  font-size: large;
}

.ft-larger {
  font-size: larger;
}

.ft-x-lg {
  font-size: x-large;
}

.bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.position {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

.spinner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 100vw;
  height: 100vh;
}


